body {font-family: "Lato", sans-serif;}
/* Style the tab */
.buscado{
  background: red;
}
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    background-color:white;"
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    transition: 0.3s;
    font-size: 15px;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: red;
}
/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.cuadrotexto tr{

	width: 50%;
	height: 300px;
}
pre{
	min-height: 400px;
	overflow: auto;
	background: #fff;
	max-height:400px;
	padding: 10px;
}
